*{
    font-family: 'Staatliches', cursive; 
    padding: 0%;
    margin: 0%;
}
html{
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #e0daa2;
}
nav {
    background-color: transparent;
    height: 50px;
    width: 100%;
    z-index: 1; /* 1111111  */
    position: fixed;
}
nav.scroll {
    background-color: #e28979;
    transition: 1s;
}
ul{
    float: right;
    margin-right: 10px;
}

li{
    display:inline-block;
    line-height: 50px;
    margin: 0 5px;
}

nav ul li a {
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.7s;
    text-decoration: none;
    list-style: none;
}

.welcome{
    color:white;
    line-height: 50px;
    padding: 0 50px;
    font-size: 20px; 
    font-weight: bold;
    padding: 5px 10px; 
    text-decoration: none;
    list-style: none;
    transition:0.5s ease-out;
}

.hover:hover{
    background-color: #e9e3b0;
}

header {
    background:url(./imagens/rj.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margem{
    margin-bottom: 15px;
    

}

.title{
    font-size: 70px;
    color:rgb(211, 160, 112);
}

.subtitulo {
      color: rgb(236, 230, 178);
      font-size: 20px;
      margin-bottom: 35px;
     
}
.city{   
    display: flex;
    width: 100%;
}   

.itemflex50{
    flex-basis: 50%;
}

.cityimage{
    width: 600px;
    object-fit: cover;
    opacity: 90%;
    height: 700px;
}

h2{
    font-size: 40px;
    font:bold;
}

.cityflex{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
}



.textoflex{
    padding: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
.buttondois{
     border: 2px solid #f5acac;
     color: #ec7560; 
     border-radius: 7px;
     padding: 2px 5px;
     font-size: 15px;
     cursor: pointer;
     background-color: transparent;
   
}
.buttondois:hover{
    background-color: #e9e3b0;
}
.pontoscontainer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 10px;
}
.pontos{
    padding: 0;
}
.container{
    max-width: 970px;
    margin: 0 auto;
}
.pontosimg{
    width: 100%;
    max-height: 600px;
}

.cristotext{
    background-color: #e28979;
    color: white;
    font-weight: bold;
    text-align: center;
    padding:20px 0;
    justify-content: center;
    margin-bottom: 30px;

}
.pontos{
    margin-top: 10px;
}

.paotext{
    background-color: #e28979;
    color: white;
    font-weight: bold;
    text-align: center;
    padding:20px 0;
    justify-content: center;
    margin-bottom: 30px;

}


.maracanatext{
    background-color: #e28372;
    color: white;
    font-weight: bold;
    text-align: center;
    padding:20px 0;
    justify-content: center;

}
.contato{
   margin-top: 5px; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 30px;

}
.contatotitle{
    margin-bottom: 13px;
        
}



.topo {
    text-decoration: none;
    text-align: center;
    float:right;
    border: 2px solid black;
    color: black ;
    border-radius: 7px;
    padding: 2px 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 10px;
}
.topo:hover{
    background-color:#df9588;
}
@media (max-width: 590px){
    nav{
        display: flex;
    }
    nav.scroll{
        z-index: 1; /* 1111111  */
        transition: 1s;
    }
    .pontos{
        padding: 20px;
    }
    .city, .contato{
        flex-direction: column-reverse;
    }                                             
    .pontoscontainer{
        flex-direction: column;
    }
    .pontosimg{
        object-fit: cover;
        max-height: 250px;
        width: 100%;
    }
    .contato{
        flex-direction: column-reverse;
    }
    .pontosh2{
        text-align: center;
    }
    .buttondois{
        margin-bottom: 10px;
    }
    
}